{{#if (and (ne page.component.name 'api') (or site.keys.announcement page.attributes.announcementText))}}
<div class="announcement-bar" role="banner" id="announcement"
     {{#if page.attributes.domainWide}}data-domain="{{page.component.name}}"{{/if}}>
  <div class="announcement-content">
    {{#if page.attributes.announcementText}}
      {{page.attributes.announcementText}}
      <a href="{{{page.attributes.announcementLink}}}">{{page.attributes.announcementLinkText}}</a>
    {{else}}
      {{site.keys.announcementText}}
      <a href="{{{site.keys.announcementLink}}}">{{site.keys.announcementLinkText}}</a>
    {{/if}}
  </div>
  <button id="close-announcement" type="button" aria-label="close" class="close">
    <svg viewBox="0 0 15 15" width="14" height="14"><g stroke="currentColor" stroke-width="3.1"><path d="M.75.75l13.5 13.5M14.25.75L.75 14.25"></path></g></svg>
  </button>
</div>
{{/if}}
