{{#if (and (ne page.component.name 'api') (or page.attributes.announcement page.component.latest.asciidoc.attributes.announcement site.keys.announcement))}}
<div class="announcement-bar" role="banner" id="announcement"
     data-announcement-key="{{#if page.attributes.announcement}}page-{{page.component.name}}-{{page.relativeSrcPath}}{{else if page.component.latest.asciidoc.attributes.announcement}}component-{{page.component.name}}{{else if site.keys.announcement}}site-global{{/if}}">
  <div class="announcement-content">
    {{#if page.attributes.announcement}}
      {{page.attributes.announcement-text}}
      <a href="{{{page.attributes.announcement-link}}}">{{page.attributes.announcement-link-text}}</a>
    {{else if page.component.latest.asciidoc.attributes.announcement}}
      {{page.component.latest.asciidoc.attributes.announcement-text}}
      <a href="{{{page.component.latest.asciidoc.attributes.announcement-link}}}">{{page.component.latest.asciidoc.attributes.announcement-link-text}}</a>
    {{else if site.keys.announcement}}
      {{site.keys.announcementText}}
      <a href="{{{site.keys.announcementLink}}}">{{site.keys.announcementLinkText}}</a>
    {{/if}}
  </div>
  <button id="close-announcement" type="button" aria-label="close" class="close">
    <svg viewBox="0 0 15 15" width="14" height="14"><g stroke="currentColor" stroke-width="3.1"><path d="M.75.75l13.5 13.5M14.25.75L.75 14.25"></path></g></svg>
  </button>
</div>
{{/if}}
