<article class="doc">
{{#unless page.attributes.cloud}}
{{> latest-banner}}
  {{> page-versions}}
{{/unless}}
{{#with page.title}}
<h1 class="page">{{{this}}}</h1>
{{/with}}
{{#if page.attributes.cloud}}
  {{#if page.attributes.beta}}
    <img src="{{{uiRootPath}}}/img/beta.svg"> </img>
  {{/if}}
{{/if}}
{{#if (eq page.layout 'home')}}
  {{> home}}
{{else if (eq page.layout 'index')}}
  {{> index}}
{{else if (eq page.attributes.role 'related-labs')}}
  {{#with (list-related-labs page.title page.attributes page.contents)  as |listLabs|}}
    {{{listLabs}}}
  {{/with}}
{{else}}
  {{> context-switcher}}
  {{#with (add-suggested-labs page.attributes page.contents)  as |suggestedLabs|}}
    {{{suggestedLabs}}}
  {{/with}}
{{/if}}
<div id="back-to-top" class="back-to-top">
  <a href="#" class="button-arrow button-arrow-up">Back to top</a>
</div>
{{> feedback-footer}}
{{> pagination}}
{{> tracking-pixel}}
</article>
