<nav class="breadcrumbs" aria-label="breadcrumbs">
  <ul>
    {{#with site.homeUrl}}
    <li><a href="{{{relativize this}}}" aria-label="Go to home page">Docs</a></li>
    {{/with}}
    {{#if page.breadcrumbs}}
    {{#each page.breadcrumbs}}
    <!-- Avoids displaying two breadcrumbs with the same URL -->
    {{#if (ne @root.page.componentVersion.url ./url)}}
    <li>
    {{~#if (and ./url (eq ./urlType 'internal'))~}}
    <a href="{{{relativize ./url}}}">{{{./content}}}</a>
    {{~else~}}
    {{{./content}}}
    {{~/if~}}
    </li>
    {{/if}}
    {{/each}}
    {{/if}}
  </ul>
</nav>

