<div id="contributors-modal" class="contributors-modal hidden">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <div class="modal-body">
      <div class="modal-column">
        <h3>Simple online edits</h3>
        <p>For simple changes, such as fixing a typo, you can edit the content directly on GitHub.</p>
        <div class="badge-button">
        {{#if (and page.fileUri (not env.CI))}}
          <a href="{{page.fileUri}}" target="_blank" rel="noreferrer noopener">
            Edit on GitHub
          </a>
          {{else if (and page.editUrl (or env.FORCE_SHOW_EDIT_PAGE_LINK (not page.origin.private)))}}
          <a href="{{page.editUrl}}" target="_blank" rel="noreferrer noopener">
            Edit on GitHub
          </a>
        {{/if}}
        </div>
        <p>Or, open an issue to let us know about something that you want us to change.</p>
        {{#with (get-page-info null)}}
        <div class="badge-button">
        <a href="{{this.webUrl}}/issues/new?title=Docs: Feedback for {{{this.title}}}&template=01_doc_request.yml&link=[{{this.title}}]({{@root.site.url}}{{this.url}}) [Page source]({{this.editUrl}})" target="_blank" rel="noopener noreferrer">Open an issue</a>
        </div>
        {{/with}}
      </div>
      <div class="modal-column">
        <h3>Contribution guide</h3>
        <p>For extensive content updates, or if you prefer to work locally, read our
        {{#if (eq page.component.name 'redpanda-labs')}}
        <a href="/redpanda-labs/contribute/" target="_blank" rel="noopener noreferrer"><span>contribution guide</span></a>
        {{else}}
        <a href="https://github.com/redpanda-data/docs-site/blob/main/meta-docs/CONTRIBUTING.adoc" target="_blank" rel="noopener noreferrer"><span>contribution guide</span></a>
        {{/if}}
        .</p>
      </div>
    </div>
  </div>
</div>
<script>
var closeButton = document.getElementsByClassName("close-button")[0];

closeButton.onclick = function() {
  modal.classList.toggle('hidden');
}
</script>
