<header class="header">
    {{> announcement-bar}}
  <nav class="navbar" {{#if page.component.latest.asciidoc.attributes.page-header-data}}{{#with page.component.latest.asciidoc.attributes.page-header-data}}style="background-color: {{this.color}}"{{/with}}{{else}}style="background-color: var(--default-header-color)"{{/if}}
>
    <div class="navbar-brand" id="brand">
      {{#with site.homeUrl}}
      <a class="navbar-item" href="{{{relativize this}}}" aria-label="Go to home page"><img src="{{{@root.uiRootPath}}}/img/redpanda-docs-logo-white.svg" width="150" height="22" style="aspect-ratio:150/22;" alt="Redpanda logo"/></a>
      {{/with}}
      <button class="navbar-burger" data-target="topbar-nav" aria-label="Header navigation menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <span class="platform-indicator-mobile">{{page.component.title}}</span>
    </div>
    <div id="topbar-nav" class="navbar-menu" {{#if isStandaloneWidget}}style="background-color: inherit;"{{else if page.component.latest.asciidoc.attributes.page-header-data}}{{#with page.component.latest.asciidoc.attributes.page-header-data}}style="background-color: {{this.color}}"{{/with}}{{else}}style="background-color: var(--default-header-color)"{{/if}}>
      {{#each (sort-components site.components)}}
      <a class="navbar-item {{#if (eq this.title @root.page.component.title)}}is-current{{/if}}" {{#if @root.isStandaloneWidget}}style="color: white;"{{/if}} href="{{{this.url}}}">{{this.title}}</a>
      {{/each}}
      <div class="navbar-end">
          {{#if (and (ne page.layout 'search') env.ALGOLIA_API_KEY)}}
            <div class="autocomplete" id="autocomplete" style="max-width:100px;"></div>
          {{/if}}
          {{#if (and (ne page.layout 'search') (ne page.attributes.role 'home')) }}
          <div> or </div>
          {{/if}}
          {{#if (ne page.attributes.role 'home')}}
            {{> ai-button}}
          {{/if}}
        <div class="theme-switcher">
          <button id="switch-theme" type="button" title="Switch between dark and light mode" aria-label="Switch between dark and light mode" aria-live="polite"><img class="theme-image" src="{{{uiRootPath}}}/img/octicons-24.svg#view-sun" alt=""></img>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
