<section class="features">
  <div class='container'>
    <div class="grid boxes">
      {{#each page.attributes.feature-list}}
      <a href="{{{relativize (resolvePageURL url)}}}" class="feature-link">
        <div class="feature-box">
          <div class="feature-image">
            <img src='./_images/{{image}}' alt={{{title}}} />
          </div>
          <div class="feature-text">
            <h2 class="feature-title">{{{title}}}</h2>
            {{#if description}}
              <p class="feature-description">{{{description}}}</p>
            {{/if}}
            {{#if learn-text}}
              <p class="feature-learn-text">Learn more &rarr;</p>
            {{/if}}
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>
  <div class='container'>
    <div class="grid highlights">
      {{#each page.attributes.footer-menu-list}}
      <div class="menu-container">
        <div class="footer-menu-header">
            <img src='./_images/{{icon.url}}' alt={{{title}}} class="{{icon.size}}"/>
            <h3>{{{title}}}</h3>
        </div>
        <ul class="menu-list">
          {{#each items}}
            <li class="menu-list-item">
              <a href="{{{relativize (resolvePageURL this.url)}}}"  class="menu-list-item-link">
                {{{this.text}}}
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
      {{/each}}
    </div>
  </div>
</section>