<div class="home-header-container">
  <div class="navbar">
    <h1>
      <img src="{{{uiRootPath}}}/img/home-logo.svg" width="auto" height="28px" alt="Redpanda documentation home page"/>
    </h1>
    <div class="theme-switcher">
      <button id="switch-theme" type="button" title="Switch between dark and light mode" aria-label="Switch between dark and light mode" aria-live="polite"><img class="theme-image" src="{{{uiRootPath}}}/img/octicons-24.svg#view-sun" alt=""></img>
      </button>
    </div>
    <p>{{page.attributes.intro}}</p>
  </div>
  <div class="home-header">
    <script>
      window.UI_INTEGRATION_ID = 'bc719cfb-2fd5-4c76-acde-de9a905f13b3';
    </script>
    <div id="kapa-chat-root"></div>
    <script src="{{{uiRootPath}}}/js/chat-entry.bundle.js"></script>
    <div class="suggestion-chips">
      {{#each page.attributes.ai-suggestions}}
      <div class="chip">{{this}}</div>
      {{/each}}
    </div>
  </div>
</div>
<section class="features">
  <div class='container'>
    {{#each page.attributes.row}}
      {{#with this.title}}
        <h2>{{this}}</h2>
      {{/with}}
      <div class="feature-row">
        {{#each this.items}}
          {{#if (eq (array-length this.urls) 1)}}
            {{#each this.urls}}
              <a href="{{{relativize (resolvePageURL this.url)}}}" class="feature-link">
            {{/each}}
              <div class="feature-box">
                {{#if this.image}}
                <div class="feature-image">
                  <img src='./_images/{{this.image}}' alt={{{this.title}}} loading="lazy"/>
                </div>
                {{/if}}
                <div class="feature-text">
                  <h2 class="discrete feature-title">{{{this.title}}}</h2>
                  {{#if this.description}}
                    <p class="feature-description">{{{this.description}}}</p>
                  {{/if}}
                  {{#if this.learn-text}}
                    <p class="feature-learn-text">Learn more &rarr;</p>
                  {{/if}}
                </div>
              </div>
              </a>
          {{else}}
            <div class="feature-box">
              {{#if this.image}}
              <div class="feature-image">
                <img src='./_images/{{this.image}}' alt={{{this.title}}} loading="lazy"/>
              </div>
              {{/if}}
              <div class="feature-text">
                <h2 class="discrete feature-title">{{{this.title}}}</h2>
                {{#if this.description}}
                  <p class="feature-description">{{{this.description}}}</p>
                {{/if}}
                {{#if this.learn-text}}
                  <p class="feature-learn-text">Learn more &rarr;</p>
                {{/if}}
                <ul>
                  {{#each this.urls}}
                    <li><a href="{{{relativize (resolvePageURL this.url)}}}">{{this.text}}</a></li>
                  {{/each}}
                </ul>
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</section>
<script>
document.addEventListener('DOMContentLoaded', function() {
  document.querySelectorAll('.suggestion-chips .chip').forEach(chip => {
    chip.addEventListener('click', () => {
      const text = chip.textContent.trim();
      window.submitKapaQuery(text)
    });
  });
})
</script>
