{{#unless (or (ne page.attributes.hide-view-latest undefined) (eq page.componentVersion page.component.latest))}}
{{#with page.latest}}
{{#with (log-missing this ./missing @root.page.url)}}
{{/with}}
<div class="doc banner-container" id="latest-banner">
  {{#if (and @root.page.componentVersion.prerelease (not ./prerelease))}}
    <div>You are viewing the documentation for a prerelease version.
    </div>
  {{else if (eq @root.page.attributes.eol true)}}
    <div>
      This is documentation for {{@root.page.component.title}} <b>{{@root.page.version}}</b>, which is no longer supported.
    </div>
  {{else}}
    <div>
      This is documentation for {{@root.page.component.title}} <b>{{@root.page.version}}</b>.
    </div>
  {{/if}}
  <div>
    For up-to-date documentation, see the <a href="{{relativize ./url}}">latest version</a> ({{@root.page.component.latest.version}}).
  </div>
</div>
{{/with}}
{{/unless}}
