{{#unless (or (ne page.attributes.hide-view-latest undefined) (eq page.componentVersion page.component.latest))}}
{{#with page.latest}}
{{#with (log-missing this ./missing @root.page.url)}}
{{/with}}
<div class="doc banner-container" id="latest-banner">
  {{#if (and @root.page.componentVersion.prerelease (not ./prerelease))}}
    <div>You are viewing the documentation for Redpanda Beta version <b>v{{@root.page.version}}</b>.
    <br>We welcome your feedback at the <a href="https://redpandacommunity.slack.com/archives/C04N3C10VUL">Redpanda Community Slack #beta-feedback channel</a>.
    </div>
  {{else if (eq @root.page.attributes.eol true)}}
    <div>
      This is documentation for {{@root.page.component.title}} <b>v{{@root.page.version}}</b>, which is no longer supported.
    </div>
  {{else}}
    <div>
      This is documentation for {{@root.page.component.title}} <b>v{{@root.page.version}}</b>.
    </div>
  {{/if}}
  <div>
    To view the latest available version of the Redpanda documentation, see <a href="{{relativize ./url}}">v{{@root.page.component.latest.version}}</a>.
  </div>
</div>
{{/with}}
{{/unless}}
