<div class="nav-panel-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
  <div class="context">
    <div class="container has-dropdown">
    {{#if (or (eq page.attributes.exclude-from-dropdown-selector true) (eq page.layout '404'))}}
    <span class="title">Explore Docs</span>
    {{else}}
    <span class="title">{{page.component.title}}</span>
    {{/if}}
      <div class="components">
          {{#each site.components}}
          {{#if (ne this.asciidoc.attributes.page-exclude-from-dropdown-selector true)}}
          <span class="component
            {{~#if (eq this.title @root.page.component.title)}} is-current{{/if}}">
            <a href="{{{relativize ./url}}}">{{{./title}}}</a>
          </span>
          {{/if}}
          {{/each}}
        </div>
    </div>
    {{#if (ne page.componentVersion.displayVersion 'default')}}
    <div class="container has-dropdown">
      <span class="current-version">{{page.componentVersion.displayVersion}}</span>
      <div class="versions">
        {{#each page.component.versions}}
        <span class="version
          {{~#if (eq this.version @root.page.component.latest.version)}} is-latest{{/if}}">
          <a href="{{{relativize ./url}}}">{{./displayVersion}}</a>
        </span>
        {{/each}}
      </div>
    </div>
    {{/if}}
  </div>
</div>
