{{#if navigation.length}}
<ul class="nav-list">
  {{#with site.components.home}}
    <li class="nav-item">
      <div class="item" onclick="window.location.href = '{{{relativize ./url}}}'">
        <a class="nav-link" href="{{{relativize ./url}}}">Docs Home</a>
      </div>
    </li>
  {{/with}}
  {{#each navigation}}
  <li class="nav-item" data-depth="{{or ../level 0}}">
    {{#if ./content}}
    <div class="item {{#if (eq ./url @root.page.url)}} is-current-page{{/if}}">
    {{#if ./url}}
    <a class="nav-link" href="
      {{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}
      {{~else}}{{{./url}}}{{~/if}}">{{{./content}}}</a>
    {{else}}
    <span class="nav-text">{{{./content}}}</span>
    {{/if}}
    {{#if ./items.length}}
    <button class="nav-item-toggle"></button>
    {{/if}}
    </div>
    {{/if}}
{{> nav-tree navigation=./items level=(increment ../level)}}
  </li>
  {{/each}}
</ul>
{{else if (or (eq page.layout 'home') (eq page.layout '404'))}}
<ul class="nav-list">
  {{#with site.components.home}}
    <li class="nav-item">
      <div class="item" onclick="window.location.href = '{{{relativize ./url}}}'">
        <a class="nav-link" href="{{{relativize ./url}}}">Docs Home</a>
      </div>
    </li>
  {{/with}}
  {{#with site.components.ROOT}}
    {{#each ./latest.navigation}}
      <li class="nav-item" data-depth="{{or ../level 0}}">
        {{#if ./content}}
        <div class="item">
        {{#if ./url}}
        <a class="nav-link" href="
          {{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}
          {{~else}}{{{./url}}}{{~/if}}">{{{./content}}}</a>
        {{else}}
        <span class="nav-text">{{{./content}}}</span>
        {{/if}}
        {{#if ./items.length}}
        <button class="nav-item-toggle"></button>
        {{/if}}
        </div>
        {{/if}}
    {{> nav-tree navigation=./items level=(increment ../level)}}
      </li>
    {{/each}}
  {{/with}}
</ul>
{{/if}}
