{{#if (and (ne page.component.name 'home') (ne page.component.name 'ROOT'))}}
<div class="nav-panel-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
  {{#if page.component}}
  <div class="context">
    <div class="container has-dropdown">
    <span class="title">{{page.component.title}}</span>
      <div class="components">
          {{#each site.components}}
          {{#if (and (ne this.name 'home') (ne this.name 'ROOT'))}}
          <span class="component
            {{~#if (eq this.title @root.page.component.title)}} is-current{{/if}}">
            <a href="{{{relativize ./url}}}">{{{./title}}}</a>
          </span>
          {{/if}}
          {{/each}}
        </div>
    </div>
    {{#if (ne page.componentVersion.displayVersion 'default')}}
    <div class="container has-dropdown">
      <span class="current-version">{{page.componentVersion.displayVersion}}</span>
      <div class="versions">
        {{#each page.component.versions}}
        <span class="version
          {{~#if (eq this.version @root.page.component.latest.version)}} is-latest{{/if}}">
          <a href="{{{relativize ./url}}}">{{./displayVersion}}</a>
        </span>
        {{/each}}
      </div>
    </div>
    {{/if}}
  </div>
  {{/if}}
</div>
{{/if}}
