{{#if navigation.length}}
<ul class="nav-list">
  {{#each navigation}}
  <li class="nav-item" data-depth="{{or ../level 0}}">
    {{#if ./content}}
    <div class="item {{#if (eq ./url @root.page.url)}}is-current-page{{/if}} {{#if ./items.length}}dropdown{{/if}}">
    {{#if ./url}}
    <a class="nav-link {{~#if (is-beta-feature ./url)}} cloud-beta{{~/if}}" href="
      {{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}
      {{~else}}{{{./url}}}{{~/if}}">{{{./content}}} </a>
    {{else}}
    <span class="nav-text">{{{./content}}} </span>
    {{/if}}
    {{#if ./items.length}}
    <div aria-label="Expand navigation" class="nav-item-toggle"><img src="{{{@root.uiRootPath}}}/img/nav-tree-chevron.svg"></div>
    {{/if}}
    </div>
    {{/if}}
{{> nav-tree navigation=./items level=(increment ../level)}}
  </li>
  {{/each}}
</ul>
{{/if}}
