<div class="nav-panel-explore{{#unless page.navigation}} is-active{{/unless}}" data-panel="explore">
  <div class="context">
    <div class="container has-dropdown">
    {{#if (or (eq page.attributes.exclude-from-dropdown-selector true) (eq page.layout '404'))}}
    {{#with site.components.ROOT}}
    <span class="title">{{./latest.title}}</span>
    {{/with}}
    {{else}}
    <span class="title">{{page.component.title}}</span>
    {{/if}}
      <div class="components">
          {{#each site.components}}
          {{#if (ne this.asciidoc.attributes.page-exclude-from-dropdown-selector true)}}
          <span class="component
            {{~#if (eq this.title @root.page.component.title)}} is-current{{/if}}">
            <a href="{{{relativize ./url}}}">{{{./title}}}</a>
          </span>
          {{/if}}
          {{/each}}
        </div>
    </div>
    <div class="container has-dropdown">
      {{#if (or (eq page.attributes.exclude-from-dropdown-selector true) (eq page.layout '404'))}}
      {{#with site.components.ROOT}}
      <span class="current-version">{{./latest.displayVersion}}</span>
      {{/with}}
      {{else if (ne page.componentVersion.displayVersion 'default')}}
      <span class="current-version">{{page.componentVersion.displayVersion}}</span>
      {{/if}}
      <div class="versions">
        {{#if (or (eq page.attributes.exclude-from-dropdown-selector true) (eq page.layout '404'))}}
          {{#each site.components.ROOT.versions}}
          <span class="version">
            <a href="{{{relativize this.url}}}">{{this.displayVersion}}</a>
          </span>
          {{/each}}
        {{else if (ne page.componentVersion.displayVersion 'default')}}
          {{#each page.component.versions}}
          <span class="version
            {{~#if (eq this.version @root.page.component.latest.version)}} is-latest{{/if}}">
            <a href="{{{relativize ./url}}}">{{./displayVersion}}</a>
          </span>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
