{{#if (and (ne page.attributes.role 'two-column') (not page.attributes.no-toc))}}
<aside class="toc sidebar" data-title="{{{page.attributes.toctitle}}}" data-levels="{{{or page.attributes.toclevels 2}}}">
  {{#if (eq page.component.name 'redpanda-labs')}}
    <img src="{{{@root.uiRootPath}}}/img/redpanda-lab-sitting.png" width="150px" height= "150px" alt="Redpanda sitting at a desk mixing chemicals"/>
  {{/if}}
  {{#if page.attributes.beta}}
  <div class="nav-beta-container">
    <p class="nav-beta-label" aria-hidden="true">beta</p>
  </div>
  {{/if}}
  <div class="toc-menu"></div>
  <div class="thumbs">
    <ul style="list-style:none">
      {{#each page.attributes.additional-resources}}
      <li><a target="_blank" href="{{{this.url}}}">{{{this.label}}}</a></li>
      {{/each}}
    </ul>
  </div>
    {{> thumbs id='thumbs-toc'}}
    {{> feedback-success id='thumbs-toc'}}
</aside>
{{/if}}